body, html {
    margin: 0;
}

/* styling for header bar and internal menu rows */
.header-bar {
    background: #02601e;
    width: 100vw;
    padding: 10px;
    color: white;
}

.header-bar .logo-img {
    width: 120px;
    height: 120px;
}

.header-bar .top-bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
}

.header-bar .bottom-bar {
    display: flex;
    padding: 0 20px;
}

.header-bar .bottom-bar .mini-menu {
    padding: 0 60px;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    display: flex;
}

a.mini-menu {
    text-decoration: none;
    color: #fff;
}

.down-arrow {
    width: 30px;
    padding: 10px;
}

.col {
    display: flex;
    align-items: center;
}

.col.center img.search-icon {
    height: 40px;
    padding: 10px;
    position: absolute;
}

.col.left {
    padding-left: 60px;
}

.col.right {
    padding-right: 60px;
}

.pack-img {
    width: 70px;
    padding: 10px;
}

.account-img {
    width: 70px;
    padding: 10px;
}

.col input {
    height: 60px;
    width: 40vw;
    padding-left: 60px;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 500;
    width: 150px;
    padding: 0 20px;
    font-size: 40px;
}

/* homepage body styling */

.page-body.home{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.cover-img {
    width: 80vw;
}

.home-button {
    position: absolute;
    bottom: 20%;
    right: 20%;
    border: 1px solid #02601e;
    background: #02601e;
    color: white;
    padding: 20px;
    width: 220px;
    font-family: Tahoma, sans-serif;
    cursor: pointer;
}

.home-button span {
    font-size: 32px;
}

.active-menu {
    color: #acdfa4;
}

a.active-menu {
    text-decoration: none;
}

/* Styling for Blue Ridge Page */
/* Step Through to show users status of where they are on site */ 
.steps {
    display: flex;
    padding: 20px 60px;
    font-size: 20px;
    font-family: tahoma, sans-serif;
    color: #2D413B;
}

.steps span {
    padding: 4px;
}

.steps span a {
    text-decoration: none;
    color: #2D413B;
}

/* styling for a grid of photos to be reused throughout site */

.photo-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo-grid .row {
    display: flex;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 60px;
}

.grid-item span {
    font-family: tahoma, sans-serif;
    color: #02601e;
    padding: 10px 0;
}

.grid-item img {
    width: 250px;
    height: 250px;
}

a.grid-item {
    text-decoration: none;
}

/* Product Detail Page CSS */

.product-details {
    display: flex;
    align-items: center;
}

.product-details .img-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 40px;
}

.product-details .product-photo img {
    width: 500px;
    height: 500px;
}

.product-details .details {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0 20px;
}

.img-car .up-arrow {
    width: 58px;
}

.img-car .down-arrow {
    width: 58px;
}

.img-car .car-photo {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.product-details h2 {
    font-family: tahoma, sans-serif;
    color: #02601e;
    font-size: 40px;
    font-weight: 500;
}

.product-details .details span {
    font-family: tahoma, sans-serif;
    color: #02601e;
    font-size: 20px;
    margin: 20px 0;
}

.row.ratings span{
    color: #D3C43A;
    margin: 20px;
}

.product-details .row {
    margin: 20px 0;
    display: flex;
}

.product-details .row.ratings {
    align-items: center;
}

.product-details .row.cart {
    align-items: center;
}

.product-details .row.size {
    align-items: center;
}

.row.size img:first-child {
    margin-right: 20px;
}

.product-details .row.size span {
    color: gray;
    padding: 0 20px;
}

.product-details .row.cart span {
    font-size: 40px;
    padding: 0 20px;
}